* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
}

h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Kaushan Script';
    text-align: center;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    position: relative;
    padding: 44px 0;

    &::after {
        content: '';
        display: block;
        width: 170px;
        height: 4px;
        background-color: #f38281;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.section-subtitle {
    font-family: 'Kaushan Script';
    text-align: center;
    font-size: 30px;
    line-height: 44px;
}

.section-info {
    text-align: center;
    padding: 38px 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
