* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
}

h1 {
    color: white;
    font-family: 'Montserrat';
    font-size: 144px;
    font-weight: 700;
    line-height: 176px;
}

h2 {
    font-family: 'Kaushan Script';
    font-size: 64px;
    line-height: 93px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
