.swiper-slide {
    padding-bottom: 116px;
}

.main-info-swiper-bullet {
    display: inline-block;
    font-family: 'Raleway';
    color: #f9efcf;
    text-align: left;
    width: 270px;
    background: none;
    border-top: 4px solid #f9efcf;
    cursor: pointer;

    &:not(:first-of-type) {
        margin-left: 30px;
    }

    &-num {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
    }

    &-name {
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        text-transform: uppercase;
    }

    &-active {
        color: white;
        position: relative;
        border-top: 4px solid white;

        &::after {
            content: '';
            display: block;
            width: 70px;
            height: 4px;
            background: tomato;
            position: absolute;
            top: -4px;
        }
    }
}
