.best-sellers {
    padding: 60px 0;
    background-color: rgba(204, 204, 204, 0.3);
}

.best-sellers__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 40px;
}

.best-sellers__text {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    max-width: 632px;
    margin: 0 auto 47px;
}

.best-sellers__text:last-of-type {
    margin-bottom: 88px;
}

.best-sellers-wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 248px;
}

.best-sellers-card {
    text-align: center;
}

.best-sellers-card__img {
    max-width: 300px;
    margin: 0 auto 27px;
}

.best-sellers-card__img img {
    width: 100%;
}

.best-sellers-card__title {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 auto 18px;
    max-width: 160px;
}

.best-sellers-card__price {
    display: block;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
}

.link-button {
    border: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: underline;
    background-color: transparent;
}

.link-button:hover {
    cursor: pointer;
}

.best-sellers-box {
    background-color: rgba(204, 204, 204, 0.3);
    padding: 76px 0 51px;
}

.best-sellers-box-wrap {
    display: flex;
    align-items: center;
}

.best-sellers-box-img {
    width: 385px;
}

.best-sellers-box-img img {
    width: 100%;
}

.best-sellers-box-description {
    width: calc(100% - 385px);
    padding: 50px;
}

.best-sellers-box-description__title {
    font-size: 36px;
    font-weight: 700;
}

.best-sellers-box-description__info {
    max-width: 500px;
    margin-top: 30px;
}

.best-sellers-box .link-button {
    margin-top: 40px;
}

.best-sellers-box--reverse {
    background-color: rgba(204, 204, 204, 0.6);
}

.best-sellers-box--reverse .best-sellers-box-wrap {
    flex-direction: row-reverse;
}

.best-sellers-box--reverse .best-sellers-box-description {
    text-align: right;
}

.best-sellers-box--reverse .best-sellers-box-description__info {
    margin-left: auto;
}
