.header {
    background-color: white;
    padding: 15px 0;
}

.header-wrap {
    display: flex;
}

.navigation-list {
    display: flex;
}

.navigation-list__item:not(:last-child) {
    margin-right: 28px;
}

.navigation-list__item a {
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.navigation {
    margin-right: 97px;
}

.logo img {
    vertical-align: bottom;
}
