.awesome {
    padding-bottom: 60px;
    text-align: center;
}

.awesome h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 150px;
}

.separator {
    width: 170px;
    margin: 0 auto;
    border-bottom: 1px solid #ec7979;
}

.awesome h5 {
    font-size: 18px;
    color: #86878b;
    font-weight: 400;
    margin-top: 40px;
}

.awesome__wrap {
    display: flex;
    margin-top: 60px;
}

.awesome__wrap__item {
    text-align: center;
}

.awesome__icon {
    width: 92px;
    height: 92px;
    border: 1px solid #ec7979;
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.awesome__icon img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.awesome__wrap__item h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 100px;
    margin-top: 10px;
}
