.main-info {
    position: relative;
    padding-top: 20px;

    &-bg {
        @include background();
        z-index: -10;

        img {
            width: 100%;
            height: 100%;
            vertical-align: bottom;
            object-fit: cover;
        }
    }

    &-overlay {
        @include background();
        background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
        z-index: -5;
    }

    .swiper-slide {
        padding-bottom: 70px;

        @media (min-width: 1024px) {
            padding-bottom: 140px;
        }
    }

    .main-info-swiper-bullet {
        display: inline-block;
        font-family: 'Raleway';
        color: #f9efcf;
        text-align: left;
        width: 57px;
        background: none;
        border-top: 4px solid #f9efcf;
        cursor: pointer;

        @media (min-width: 1024px) {
            width: 233px;
        }

        @media (min-width: 1200px) {
            width: 270px;
        }

        &:not(:first-of-type) {
            margin-left: 20px;

            @media (min-width: 1200px) {
                margin-left: 30px;
            }
        }

        &-info {
            display: none;
            padding: 15px 0;

            @media (min-width: 1024px) {
                display: block;
            }

            @media (min-width: 1200px) {
                padding: 21px 0;
            }
        }

        &-num {
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;

            @media (min-width: 1200px) {
                font-size: 36px;
                line-height: 42px;
            }
        }

        &-name {
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;

            @media (min-width: 1200px) {
                font-size: 18px;
                line-height: 21px;
            }
        }

        &-active {
            color: white;
            position: relative;
            border-top: 4px solid white;

            &::after {
                content: '';
                display: block;
                width: 57px;
                height: 4px;
                background: tomato;
                position: absolute;
                top: -4px;

                @media (min-width: 1024px) {
                    width: 64px;
                }

                @media (min-width: 1200px) {
                    width: 70px;
                }
            }
        }
    }

    &-title,
    &-subtitle,
    &-text {
        color: white;
    }

    &-text {
        text-align: center;
    }

    &-subtitle {
        font-size: 36px;
        line-height: 52px;
        margin-top: 50px;

        @media (min-width: 1024px) {
            font-size: 48px;
            line-height: 70px;
        }

        @media (min-width: 1200px) {
            font-size: 64px;
            line-height: 92px;
        }
    }

    &-title {
        font-size: 48px;
        line-height: 59px;
        max-width: 300px;
        margin: 0 auto;
        padding: 65px 0;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 134px;
            height: 4px;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        @media (min-width: 1024px) {
            font-size: 96px;
            line-height: 117px;
            max-width: 700px;
        }

        @media (min-width: 1200px) {
            font-size: 144px;
            line-height: 176px;
            max-width: 800px;
        }
    }

    &-text {
        font-size: 22px;
        line-height: 28px;
        padding: 50px 0;

        @media (min-width: 1024px) {
            font-size: 28px;
            line-height: 36px;
        }

        @media (min-width: 1200px) {
            font-size: 36px;
            line-height: 42px;
        }
    }

    &-button {
        color: #ffffff;
        display: block;
        min-width: 284px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        background: transparent;
        border: 4px solid #ffffff;
        padding: 16px 0;
        margin: 50px auto 0;
        cursor: pointer;

        @media (min-width: 1024px) {
            min-width: 318px;
        }
    }
}
