.services-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding-top: 70px;

    @media (min-width: 1024px) {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 50px;
        column-gap: 20px;
    }

    @media (min-width: 1200px) {
        row-gap: 120px;
    }
}

.service-card {
    display: flex;

    @media (min-width: 1024px) {
        width: calc((100% - 40px) / 3);
    }

    &__ico {
        padding: 0 16px;
    }

    &-info {
        padding: 16px 0;

        &__title {
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;

            @media (min-width: 1200px) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
            padding: 20px 0;

            @media (min-width: 1200px) {
                font-size: 18px;
                line-height: 21px;
            }
        }
    }
}
