.awesome {
    padding-bottom: 60px;
    text-align: center;
}

.awesome__title {
    font-size: 36px;
    font-weight: 400;
    padding: 57px 0;
}

.awesome__remark {
    color: #86878b;
    margin-top: 40px;
}

.awesome-wrap {
    display: flex;
    margin-top: 60px;
}

.awesome-item {
    text-align: center;
}

.awesome-item__icon {
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border: 1px solid #ec7979;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome-item__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 100px;
    margin-top: 10px;
}
