body {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.separator {
    width: 170px;
    margin: 0 auto;
    border-bottom: 1px solid #ec7979;
}
