.feedback {
    padding: 50px 0 64px;
}

.feedback-wrap {
    display: flex;
    margin-top: 83px;
}

.feedback-box:not(:first-child) {
    margin-left: 20px;
}

.feedback-text {
    color: rgba(134, 135, 139, 1);
    background-color: rgba(226, 226, 226, 1);
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 50px 40px;
    border-radius: 10px;
    position: relative;
}

.feedback-text::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 13px 0 13px;
    border-color: rgba(226, 226, 226, 1) transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 15%;
}

.feedback-author {
    display: flex;
    align-items: center;
    margin-top: 66px;
}

.feedback-person {
    margin-left: 22px;
}

.feedback-person__name {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.feedback-person__position {
    font-size: 14px;
    line-height: 16px;
    margin-top: 9px;
}
