body {
    font-family: 'Roboto';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.5px;
    text-align: center;
}

.img-insertion img {
    width: 100%;
    vertical-align: bottom;
}

.buttons-wrap {
    margin-top: 30px;
}

.buttons-wrap_center {
    text-align: center;
}

.catalog-button {
    color: rgba(33, 42, 47, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    min-width: 180px;
    text-transform: uppercase;
    background-color: white;
    padding: 17px 0 15px;
    border: none;
}

.catalog-button:not(:first-of-type) {
    margin-left: 24px;
}

.catalog-button_black {
    color: white;
    background-color: rgba(33, 42, 47, 1);
}

.slider {
    margin-top: 119px;
}

.slider-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.5px;
}

.slider-kit {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.slider-item {
    width: 40%;
}

.slider-item + .slider-item {
    margin-left: 24px;
}

.slider-item__img img {
    width: 100%;
    vertical-align: bottom;
}

.slider-item__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.5px;
    margin-top: 17px;
    padding: 0 20px;
}

.slider-item__description {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    padding: 0 20px;
}
