*,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.5px;
    text-align: center;
}

.img-insertion img {
    width: 100%;
    vertical-align: bottom;
}

.buttons-wrap {
    margin-top: 30px;
}

.buttons-wrap_center {
    text-align: center;
}

.buttons-wrap-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.catalog-button {
    color: rgba(33, 42, 47, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    min-width: 180px;
    text-transform: uppercase;
    background-color: white;
    padding: 17px 0 15px;
    border: none;
}

.buttons-wrap .catalog-button:not(:first-of-type) {
    margin-left: 24px;
}

.catalog-button_black {
    color: white;
    background-color: rgba(33, 42, 47, 1);
}

.catalog-button_block {
    display: block;
}

.buttons-wrap-vertical .catalog-button_block:not(:first-of-type) {
    margin-top: 24px;
}

.icon {
    width: 30px;
    height: 30px;
}

.slider {
    position: relative;
    margin-top: 119px;
    padding: 0 68px;
}

.slider-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.5px;
}

.slider-kit {
    margin-top: 24px;
}

.slider-item__img img {
    width: 100%;
    vertical-align: bottom;
}

.slider-item__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.5px;
    margin-top: 17px;
    padding: 0 20px;
}

.slider-item__description {
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    padding: 0 20px;
}

.slider-button {
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(211, 212, 213, 1);
    transition: 0.3s;
}

.slider-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}

.slider-button::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid rgba(77, 85, 89, 1);
    border-left: 3px solid rgba(77, 85, 89, 1);
    position: relative;
    top: 14px;
    left: 14px;
}

.slider-button_prev {
    left: 0;
    transform: rotate(45deg);
}

.slider-button_next {
    right: 0;
    transform: rotate(-135deg);
}
