.footer {
    color: white;
    background: rgba(33, 42, 47, 1);
    padding: 72px 54px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.links-block__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

.links-list {
    margin-top: 21px;
}

.links-list__item {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
}

.links-list__item + .links-list__item {
    margin-top: 16px;
}

.links-list__item a {
    color: white;
    text-decoration: none;
}

.footer-ext-block {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.call-to-follow__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
}

.call-to-follow__benefits {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    max-width: 293px;
    margin-top: 21px;
}
.country-links {
    margin-right: 15%;
}

.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    margin-top: 126px;
}
