.main-info {
    position: relative;
}

.main-info__img img {
    width: 100%;
    vertical-align: bottom;
}

.main-info__content {
    position: absolute;
    left: 54px;
    bottom: 66px;
}

.main-info__title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0.5px;
}

.main-info__tagline {
    color: white;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 11px;
}
